<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xxx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BF106C51F6CD283001BDAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF106D91F6CD283001BDAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF106E41F6CD283001BDAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
